h2{
    font-size: xx-large;
    text-align: center;
}
p{
    position: absolute;

}
.photo{
    position: relative;
    width: 100%;
    height: 50%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


